
.country {
    pointer-events: all;
}

.country .label {
    text-anchor: middle;
}

circle.renewable {
    fill: #018E42;
}

circle.oilgascoal {
    fill: none;
    stroke: #161925;
}

circle.hydroelectric {
    fill: none;
    stroke: #235789;
    /*stroke-dasharray: 3, 1;*/
}

circle.nuclear {
    fill: none;
    stroke: #E53D00;
    /*stroke-dasharray: 3, 1;*/
}

#wrapper {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: F9FBF2;
    cursor: default;
}

.popup-center {
	opacity: 0;
}

.flourish-popup {
    pointer-events: none;
}

.menu .items {
    display: flex;
}

.menu .item {
    padding: 0 1rem;
    color: #333;
    opacity: 0.5;
}

.menu .item.selected, .menu .item:hover {
    opacity: 1;
}
